.stylinglogo{
    width: 160ppx;
    height: 70px;
}
#go{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 0px;
}
#go:hover{
    color: #c90202;
}
#goo1{
    background-color: #c90202;
    color: white;
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 20px;
}
#goo1:hover{
    background-color: gray;
    color: #c90202;
}
.bgimg1{
    background-image: url("https://res.cloudinary.com/dxujeg5en/image/upload/v1669302394/modified-mazda-4k-4t_rfmpjx.jpg");
    background-size: cover;
    height: 80vh;
}
.head1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.paraline{
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f7fa;
    font-size: 24px;
    font-weight: 300;
}
.buttonst{
    background-color: #c90202;
    color: white;
    width: 230px;
    height: 45px;
    border-width: 0px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.bgcolor2{
    background-color: #f9fbfe;
}
.head2{
    color: #183b56;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.para2{
    color: #5a7184;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.carding{
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}
.cardimage{
    width: 87px;
    height: 90px;
}
.chead{
    color: #323f4b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.cpara{
    color: #323f4b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.bgcolor4{
    background-color: white;
}
.explorehead{
    color: #183b56;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.explorecards{
    border-radius: 16px;
}
.exploreimage{
    border-radius: 16px;
}
.carhead4{
    color: #323f4b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
}
.explorelink{
    color: #c90202;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.paybgimg{
    background-color: white;
}
.paymenting{
    width: 350px;
}
.payhead{
    color: #183b56;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.paypara{
    color: #5a7184;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.cstbutton{
    background-color: #c90202;
    color: white;
    width: 130px;
    height: 45px;
    border-width: 0px;
    border-radius: 8px;
    margin-right: 10px;
}
.paycarding{
    width: 50px;
    height: 50px;
    margin-right: 28px;
}
#contact{
    background-color: rgb(131, 128, 128);
    padding-bottom: 4rem;
}
.socialicons{
    font-size: 40px;
    cursor: pointer;
}
#icenter1{
    text-align: center;
}
.fa-brands{
    color: white;
}
.fa-facebook, .fa-instagram, .fa-linkedin{
    margin: 40px;
}
.fa-facebook:hover, .fa-instagram:hover, .fa-linkedin:hover{
    color: #c90202;
}